<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2a4e0939-8add-4b7b-8a08-0d39ee13d39f/resourcegroups/WebApplication420221121235216ResourceGroup/providers/Microsoft.Web/sites/PlayBack-web</ResourceId>
    <ResourceGroup>WebApplication420221121235216ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://playback-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>playback-web.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlayBack-web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$PlayBack-web</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="WebApplication4.DataContext.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication4.DataContext.ApplicationDbContext, WebApplication4" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebApplication4.DataContext.ApplicationDbUsers" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication4.DataContext.ApplicationDbUsers, WebApplication4" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="newConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost;Port=5432;Database=users;User Id=postgres;Password=ethan" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\newConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Port=5432;Database=users;User Id=postgres;Password=ethan" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Myconnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost;Port=5432;Database=music;User Id=postgres;Password=ethan" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Myconnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Port=5432;Database=music;User Id=postgres;Password=ethan" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Myconnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)newConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApplication4.DataContext.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApplication4.DataContext.ApplicationDbUsers-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WebApplication4.DataContext.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="WebApplication4.DataContext.ApplicationDbUsers" />
  </ItemGroup>
</Project>