
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sessionLog = Session["login"] as string;

    var sql = "select name from public.users where email='ethan@newgmail.com';";
    var conn = "Host=localhost;Port=5432;Database=users;User Id=admin;password=secret";

    var newConn = new NpgsqlConnection(conn);
    newConn.Open();
    var cmd = new NpgsqlCommand(sql, newConn);
}


<h1></h1>
<h2></h2>
<br />
<br />
<div id="container">

</div>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Logout" class="btn btn-default" onclick="window.location.href='@Url.Action("Logout", "User")'" />
        </div>

    </div>
    <script src="@Url.Content("~/Scripts/addData.js")" type="text/javascript"></script>
    

    <style>
        #container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            padding-left: 250px;
        }

        #textDiv {
            text-align: justify;
            width: 240px;
        }

            #textDiv img {
                display: block;
                transform: scale(1.5); /* Equal to scaleX(0.7) scaleY(0.7) */
            }
    </style>
}
